.Weather {
  border: 2px solid #5f9ea0;
  background-color: #1af8c1;
  color: #5900ff;
  padding: 18px;
  margin: 30px auto;
  border-radius: 15px;
}

.Weather form {
  margin-bottom: 25px;
}

.Weather h1 {
  font-size: 25px;
  font-weight: 100px;
}

.Weather li {
  list-style: none;
  font-size: 18px;
  font-weight: 100px;
  line-height: 20px;
}

.Weather ul {
  margin: 0px;
  padding: 0px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 65px;
  line-height: 65px;
  margin-left: 0px;
}

.Weather canvas {
  margin-right: 5px;
  display: inline-block;
}

.Weather .units {
  font-size: 32px;
  font-weight: 200;
  position: relative;
  top: -20px;
  margin-left: 2px;
  line-height: 1px;
}
